<h2>Library New Page</h2>

<%= form_with model:@library, url:libraries_path, local:true do |f| %>
  <div class="form-group">
    <%= f.label :name, "図書館名" %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :email, "メールアドレス" %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号（ハイフンなし）" %><br>
    <%= f.text_field :postal_code %><br>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %><br>
    <%= f.text_field :address %><br>
  </div>

  <div class="field">
    <%= f.label :telphone_number, "電話番号（ハイフンなし）" %><br>
    <%= f.text_field :telphone_number, type: "tel" %><br>
  </div>

  <p><%= f.submit "新規登録", class: "btn btn-primary" %></p>
<% end %>