<h1>Books#index</h1>

<%= form_with model: @book, url: books_path, remote: true do |f| %>
  <%= f.label :title, "書籍表記" %><br>
  <%= f.text_field :title %><br>
  <%= f.label :title_kana, "書籍カナ" %><br>
  <%= f.text_field :title_kana %><br>
  <%= f.label :author, "著者" %><br>
  <%= f.text_field :author %><br>
  <%= f.label :publisher, "出版社" %><br>
  <%= f.text_field :publisher %><br>
  <%= f.label :published_on, "出版年月日" %><br>
  <%= f.date_field :published_on %><br>
  <%= f.label :book_image, "書籍画像" %><br>
  <%= f.attachment_field :book_image %>
  <%= f.label :genre_id, "ジャンル" %><br>
  <%= f.collection_select :genre_id, Genre.where(is_active: true), :id, :name, {include_blank: "選択してください"} %><br>
  <%= f.label :library_id, "図書館" %><br>
  <%= f.collection_select :library_id, Library.all, :id, :name, {include_blank: "選択してください"} %><br>
  <%= f.label :status, "貸出状況" %><br>
  <%= f.select :status, options_for_select(Book.statuses.keys) %><br>
  <%= f.submit "登録", class: "btn btn-primary" %>
<% end %>

<h2>書籍一覧</h2>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>画像</th>
      <th>書籍表記</th>
      <th>書籍カナ</th>
      <th>著者</th>
      <th>出版社</th>
      <th>出版年月日</th>
      <th>ジャンル</th>
      <th>図書館</th>
      <th>貸出状況</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= attachment_image_tag book, :book_image, format: "jpeg", size: "250x200" %></td>
        <td><%= book.title %></td>
        <td><%= book.title_kana %></td>
        <td><%= book.author %></td>
        <td><%= book.publisher %></td>
        <td><%= book.published_on %></td>
        <td><%= book.genre.name %></td>
        <td><%= book.library.name %></td>
        <td><%= book.status %></td>
        <td><%= link_to '予約画面へ', path %></td>
      </tr>
    <% end %>
  </tbody>
</table>