<h1>Reservations#new</h1>

 <h2>貸出予約画面</h2>
 
 <h3>書籍情報</h3>
 <p><%= attachment_image_tag @book, :book_image, format: "jpeg", size: "250x200" %></p>
 <p>書籍タイトル</p>
 <p><%= @book.title %></p>
 <p>書籍タイトルカナ</p>
 <p><%= @book.title_kana %></p>
 <p>著者</p>
 <p><%= @book.author %></p>
 <p>出版社</p>
 <p><%= @book.publisher %></p>
 <p>出版年月日</p>
 <p><%= @book.published_on %></p>
 <p>ジャンル</p>
 <p><%= @book.genre.name %></p>
 <p>図書館名</p>
 <p><%= @book.library.name %></p>
 <p>貸出状況</p>
 <p><%= @book.status %></p>

<%= form_with model: @reservation, url: book_reservations_path(@book), remote: true do |f| %>
  <%= f.label :lending_date, "貸出予定日" %><br>
  <%= f.date_field :lending_date %><br>
  <%= f.label :return_date, "返却予定日" %><br>
  <%= f.date_field :return_date %><br>
  <%= f.submit "登録", class: "btn btn-primary" %>
<% end %>
