<h2>貸出登録画面</h2>
 
 <h3>書籍情報</h3>
 <p><%= attachment_image_tag @book, :book_image, format: "jpeg", size: "250x200" %></p>
 <p>書籍タイトル</p>
 <p><%= @book.title %></p>
 <p>書籍タイトルカナ</p>
 <p><%= @book.title_kana %></p>
 <p>著者</p>
 <p><%= @book.author %></p>
 <p>出版社</p>
 <p><%= @book.publisher %></p>
 <p>出版年月日</p>
 <p><%= @book.published_on %></p>
 <p>ジャンル</p>
 <p><%= @book.genre.name %></p>
 <p>図書館名</p>
 <p><%= @book.library.name %></p>
 <p>貸出状況</p>
 <p><%= @book.status %></p>

<%= form_with model: @lending, url: book_lendings_path(@book), remote: true do |f| %>
  <%= f.label :user_id, "図書館利用者" %><br>
  <%= f.collection_select :user_id, User.all.order(:full_name), :id, :full_name, {include_blank: "選択してください"} %><br>
  <% if @reservation.present? %>
    <%= f.label :reservation_id, "予約ナンバー（予約がある場合のみ）" %><br>
    <%= f.collection_select :reservation_id, @reservation, :id, :id, {include_blank: "選択してください"} %><br>
  <% end %>
  <%= f.label :lent_on, "貸出日" %><br>
  <%= f.date_field :lent_on %><br>
  <%= f.label :return_date, "返却予定日" %><br>
  <%= f.date_field :return_date %><br>
  <%= f.submit "登録", class: "btn btn-primary" %>
<% end %>
